<section class="py-5">
    <div class="container">
        <div class="row align-items-center gx-4">
            <div class="col-md-5">
                <div class="ms-md-2 ms-lg-5">
                    <img class="img-fluid rounded-3" src="assets/images/ERDGameSharer.png" alt="GameSharer Image">
                </div>
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="ms-md-2 ms-lg-5">
                    <span class="text-muted">Zaid Karmoudi 2102960 </span>
                    <h2 class="display-5 fw-bold">Casus beschrijving</h2>
                    <p class="lead">GameSharer is een fullstack client-side website waarbij mensen hun verschillende
                        game collecties met elkaar kunnen delen. Gebruikers kunnen mensen met een soortgelijke smaak
                        ontmoeten (bijvoorbeeld via e-mail of Discord ID bij het aanmelden). Ze kunnen zelfs samen
                        een game spelen. Het is mogelijk om games te vinden die passen bij je smaak, of samen te spelen
                        met andere gebruikers. De 9 meest gelikete collecties worden op de homepagina weergegeven.</p>
                    <p class="lead mb-0">Naast het delen van collecties moeten gebruikers reviews kunnen plaatsen op
                        games, waardoor GameSharer een soort sociale IMDB is voor games. Gebruikers kunnen vrienden
                        maken met gamers die dezelfde voorkeuren hebben.</p>
                </div>
            </div>
            <div class="mt-5">
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                            <th class="col-1">ID</th>
                            <th class="col-4">Functional Requirement</th>
                            <th class="col-4">Acceptatiecriteria</th>
                            <th class="col-1">Prioriteit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>F-01</td>
                            <td>Als gebruiker wil ik mijn gamecollectie kunnen zien zodat ik weet welke games er in
                                zitten.</td>
                            <td>
                                <li>Er moet een lijst van games worden weergegeven.</li>
                                <li>De games moeten een naam bevatten in de lijst</li>
                                <li>de games bevatten een afbeelding in de lijst</li>
                                <li>de rating van de game wordt weergegeven</li>
                            </td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>F-02</td>
                            <td>Als gebruiker wil een eigen gamecollectie kunnen bijhouden zodanig dat ik mijn eigen
                                gamecollecties kan delen</td>
                            <td>
                                <li>er moet een knop zijn waarmee je een gamecollectie kunt maken</li>
                                <li>je moet een bestaande game kunnen toevoegen aan je collectie</li>
                                <li>je moet tags kunnen toevoegen aan je collectie zoals horror of dergelijke tags</li>
                            </td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>F-03</td>
                            <td>Als gebruiker wil ik vanuit een gamecollectie naar de detailspagina van een game kunnen
                                navigeren zodat ik meer informatie krijg.</td>
                            <td>
                                <li>In een game collectie moet je kunnen klikken op de game waarmee je wordt
                                    doorverwezen naar de detailspagina</li>
                                <li>detailspagina moet informatie over een game bevatten</li>
                            </td>
                            <td>Must</td>
                        </tr>
                        <tr>
                            <td>F-04</td>
                            <td>Als gebruiker wil ik collecties kunnen liken/unliken en een lijst hebben van all mij
                                gelikte collecties</td>
                            <td>
                                <li>Een gamecollectie moet een like counter hebben</li>
                                <li>Een gamecollectie moet een like button hebben waarmee gebruikers kunnen liken </li>
                                <li>ik wil een collectie kunnen inzien van al mijn gelikte collecties</li>
                            </td>
                            <td>Should</td>
                        </tr>
                        <tr>
                            <td>F-05</td>
                            <td>Als gebruiker wil ik een game kunnen reviewen zodat andere gebruikers mijn mening kunnen
                                lezen.</td>
                            <td>
                                <li>een game moet een manier hebben om reviews toe te voegen</li>
                                <li>een game moet een review sectie bevatten die reviews weergeven die zijn geplaats
                                </li>
                                <li>de review moet een rating bevatten en weergeven</li>
                            </td>
                            <td>Should</td>
                        </tr>
                        <tr>
                            <td>F-06</td>
                            <td>Als eigenaar van een gamecollectie wil ik zien wie mijn lijst heeft geliket zodat ik hen
                                kan contacteren.</td>
                            <td>
                                <li>vanuit een gamecollectie moet de eigenaar kunnen zien wie deze heeft geliket</li>
                                <li>vanuit de lijst moet een eigenaar kunnen doorklikken naar iedere gebruiker die heeft
                                    geliket en worden doorverwezen naar de
                                    detailspagina van de gebruiker die heeft geliket</li>
                            </td>
                            <td>Could</td>
                        </tr>
                        <tr>
                            <td>F-06</td>
                            <td>Als gebruiker wil ik mijn profiel kunnen bewerken, zodat ik mijn persoonlijke gegevens
                                kan bijwerken.</td>
                            <td>
                                <li>als eigenaar moet ik een edit knop hebben op mijn detailspagina waarmee ik
                                    informatie kan wijzigen</li>
                                <li>Als niet eiganaar moet het niet mogelijk zijn om informatie van een andere gebruiker
                                    te wijzigen</li>

                            </td>
                            <td>Could</td>
                        </tr>
                        <tr>
                            <td>F-07</td>
                            <td>Als gebruiker wil ik informatie kunnen opzoeken over games die nog niet uit zijn</td>
                            <td>
                                <li>Games die nog niet uit zijn moeten niet zichtbaar zijn</li>
                            </td>
                            <td>Will not</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>