<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Game Events</h1>
            <p class="lead">
                Fullstack application made by Zaid Karmoudi 2102960 230INVT2A
                for 2.2 Client-side web programming
            </p>
            <p class="lead">
                This is a client side website where people can share their game
                collections or just a list of games they wanna play in the
                future or just want to share their all time Favorite Games in a
                certain genre! People can like each other collections and the
                most popular collections will be shown on the frontpage!
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block"
                            src="assets/images/gamecollectionplaceholder.jpg" />
                        <div class="card-body">
                            <p class="card-text">
                                Description for a game collection that people
                                can share here
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        View
                                    </button>
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        Like
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block"
                            src="assets/images/gamecollectionplaceholder.jpg" />
                        <div class="card-body">
                            <p class="card-text">
                                Description for a game collection that people
                                can share here
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        View
                                    </button>
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        Like
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block"
                            src="assets/images/gamecollectionplaceholder.jpg" />
                        <div class="card-body">
                            <p class="card-text">
                                Description for a game collection that people
                                can share here
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        View
                                    </button>
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        Like
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block"
                            src="assets/images/gamecollectionplaceholder.jpg" />
                        <div class="card-body">
                            <p class="card-text">
                                Description for a game collection that people
                                can share here
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        View
                                    </button>
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        Like
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block"
                            src="assets/images/gamecollectionplaceholder.jpg" />
                        <div class="card-body">
                            <p class="card-text">
                                Description for a game collection that people
                                can share here
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        View
                                    </button>
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        Like
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block"
                            src="assets/images/gamecollectionplaceholder.jpg" />
                        <div class="card-body">
                            <p class="card-text">
                                Description for a game collection that people
                                can share here
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        View
                                    </button>
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        Like
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block"
                            src="assets/images/gamecollectionplaceholder.jpg" />
                        <div class="card-body">
                            <p class="card-text">
                                Description for a game collection that people
                                can share here
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        View
                                    </button>
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        Like
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block"
                            src="assets/images/gamecollectionplaceholder.jpg" />
                        <div class="card-body">
                            <p class="card-text">
                                Description for a game collection that people
                                can share here
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        View
                                    </button>
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        Like
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" alt="Thumbnail [100%x225]"
                            style="height: 225px; width: 100%; display: block"
                            src="assets/images/gamecollectionplaceholder.jpg" />
                        <div class="card-body">
                            <p class="card-text">
                                Description for a game collection that people
                                can share here
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        View
                                    </button>
                                    <button type="button" class="btn btn-outline-primary">
                                        <i class="bi bi-hand-thumbs-up"></i>
                                        Like
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>